.input{
color: aqua;
}
div{
    padding-top: 20px;
}
form{
    text-align: center;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
background-clip: border-box;
background-color: antiquewhite;
width: 100%;
max-width: 600px;
margin: 0px auto;

}